.col-xs-12{
    border: solid black 1px;
    margin: 8px 0;
    padding: 20px;
    border-radius: 4px;
    font-size: medium;
    background-color: rgb(120, 190, 236);
    color: black;
}

.col-xs-12:hover .fa{
    display:block;
}


.fa{
    margin: 6px;
    float: right;
    cursor: pointer;
    height: 1px;
    display: none;
}

.row{
    max-height: 400px;
    overflow-y: scroll;  
}

input{
    width: -webkit-fill-available;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f8f6f6;
}

::-webkit-scrollbar-thumb {
    background: rgb(48, 53, 52);
    border-radius: 1em;
    height: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}